.wrapper {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 100%;
  margin-top: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
  .left {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    &:hover{
      scale: 1.02;
    }
    @media (max-width: 1050px) {
      flex-direction: column;
      padding: 5px;
    }
  }
  .right {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    padding-right: 30px;
    padding-left: 30px;
    @media (max-width: 1100px) {
      padding: 5px;
    }
    .header {
      width: 100%;
      height: 40px;
      background-color: #219ed9;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
    h2 {
      color: white;
      font-size: 14.5px;
      font-weight: 600;
    }
  }
  .postInfo {
    padding: 30px;
    position: absolute;
    bottom: 40px;
    @media (max-width: 1100px) {
      bottom: 80px;
    }
    @media (max-width: 754px) {
      bottom: 0px;
    }
    .author_date {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 30px;
      h2,
      span {
        color: white;
        font-size: 18.5px;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          color: #219ed9;
        }
      }
    }
    .postParag {
      color: white;
      font-size: 18.5px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: #219ed9;
      }
    }
  }
  .articleContainer {
    display: flex;
    margin-bottom: 10px;
    &:hover{
      scale: 1.02;
    }
    img {
      flex: 1;
      max-width: 100px;
      object-fit: contain;
      @media (max-width: 768px) {
        flex: 1;
        max-width: 100px;
        object-fit: contain;
      }
    }
    h3 {
      margin-left: 5px;
    }
    strong {
      font-size: 12px;
      margin-left: 5px;
      font-weight: bold;
      color: #777;
    }
  }
}
