.styleTwo {
  width: 100%;
  .top {
    position: relative;
    margin-bottom: 20px;
    width: 370px;
    height: 175px;
    overflow: hidden;
    border: 1px solid #111;
  }
  img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .cat {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    left: 20px;
    text-transform: uppercase;
    background-color: #111;
    padding: 5px 10px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: #219ed9;
    }
  }
  .postIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    background-color: #219ed9;
    color: white;
    padding: 5px 10px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      background-color: #111;
    }
  }
  .postInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .nav {
      color: white;
      font-size: 14px;
      margin-left: 20px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        color: #219ed9;
      }
    }
    .nav li {
      font-weight: 600;
    }
    h3 {
      padding: 0 20px 20px 20px;
      font-size: 16px;
      color: white;
      font-weight: 800;
      width: 350px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: #219ed9;
      }
    }
  }
  .bottom {
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      gap: 20px;
      padding-top: 15px;
      border-top: 1px solid #ccc;

      .left {
        img {
          width: 130px;
          cursor: pointer;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        .nav {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        li {
          font-size: 13px;
          color: #777;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            color: #219ed9;
          }
        }
      }
      h3 {
        text-align: start;
        font-weight: 700;
        font-size: 13.5px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          color: #219ed9;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .top{
      width: 100%;
    }
    .top .postInfo h3{
      width: 100%;
    }
    .wrapper{
      display: none;
    }
  }
  @media only screen and (max-width: 468px) {
    
    .top .postInfo h3{
      font-size: 11px;
      width: 100%;
    }
    .top .cat{
      font-size: 8px;
            padding: 2px 5px;
    }
    .top .icon{
      font-size: 8px;
            padding: 2px 5px;
    }
  }
}
