.audioVideo{
    padding: 30px 40px 20px 40px;
    background-color: #219ed9;

    .audioVideoWrapper{
        border-top: 2px solid white;
        display: flex;
        flex-direction: column;
        .title{
            color: white;
        }
        .icon{
            color: white;

            .left:hover{
                color: #333;
                cursor: pointer;
            }
            .right:hover{
                color: #333;
                cursor: pointer;
            }
        }
        .body{
            display: flex;
            gap: 30px;
            margin-bottom: 20px;
            .videoWrapper{
                flex: 8;
                
            }
            .listWrapper{
                flex: 4.5;
                max-height: 380px;
                overflow-y: auto;
                overflow-x: hidden;
                .list{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;
                    
                    .item{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        margin-bottom: 5px;
                        .left{
                            video{
                                display: flex;
                                height: 100%;
                                width: 110px;
                                cursor: pointer;
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: column;

                            .nav{
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                display: flex;
                                align-items: center;
                                gap: 15px;

                                li{
                                    color: #f4f4f4;
                                    cursor: pointer;

                                }
                            }
                            h3{
                                display: flex;
                                font-size: 12px;
                                font-weight: 800;
                                color: white;
                                cursor: pointer;
                            }
                        }
                        &:hover{
                            border-radius: 5px;
                            background-color: rgba(0,0,0,0.25);
                            box-shadow: inset 0 1px rgba(255,255,255,0.3);
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 10px;
                  }
              
                  &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                  }
              
                  &::-webkit-scrollbar-thumb {
                    background: #888;
                  }
              
                  &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                  }
            }
        }
    }
    @media (max-width: 980px) {
        .audioVideoWrapper .body{
            display: flex;
            flex-direction: column;
        }
        .audioVideoWrapper .body .videoWrapper video{
            
        }
        .audioVideoWrapper .body .listWrapper .list .item {
            padding-bottom: 10px;
        }
      }
    @media only screen and (max-width: 468px) {
        .audioVideoWrapper .body .listWrapper .list .item{
            width: 100%;
        }
        .audioVideoWrapper .body .listWrapper .list .item .right .nav li{
            font-size: 10px;
        }
        .audioVideoWrapper .body .listWrapper .list .item .right h3{
            font-size: 10px;
        }    
    }
}