.singlePostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 12px;
  margin-top: 40px;
  padding: 4px;

  h1 {
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 24px;
    }
    font-size: 38px;
    font-weight: 600;
    line-height: 44px;
    color: rgb(32, 34, 36);
    letter-spacing: -0.76px;
    width: 70%;
    @media (max-width: 768px) {
      width: 100%;
    }
    text-align: left;
  }
  .postInfo {
    width: 70%;
    @media (max-width: 768px) {
      width: 100%;
    }
    h2 {
      margin-top: 12px;
      color: #777;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
    }
    .imageContainer {
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        margin-top: 4px;
      }
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-transform: none;
      text-decoration: none;
      letter-spacing: -0.36px;
    }
  }
}
