.navbarBottom {
  background-color: #219ed9;
  height: 60px;
  .navbarBottomWrapper {
    display: flex;
    align-self: center;
    padding: 20px 30px;
    color: white;
    justify-content: space-between;
  }
  .item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  span {
    font-size: 16px;
  }
  .dropDown {
    position: absolute;
    width: 160px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #777;
    border-bottom: 2px solid #219ed9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    left: -10px;
    margin-right: 2px;
    padding-bottom: 18px;
    opacity: 1.4;
  }
  span a {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 4px;
  }
  .dropDownMenu2 {
    position: absolute;
    margin-top: 40px;
    background-color: white;
    border-bottom: 2px solid #219ed9;
    width: 1145px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1;
  }
  .dropDownMenu2Wrapper {
    display: flex;
    .left {
      flex: 1.9;
      display: flex;
      flex-direction: column;
    }
    .item {
      display: flex;
      align-items: center;
      color: #666;
      padding-bottom: 20px;
      transition: 0.5s;
      &:hover {
        color: #219ed9;
      }
    }
    .right {
      flex: 10;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .topRight {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 15px;
      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        img {
          position: relative;
          width: 100%;
          object-fit: cover;
        }
        .itemHeader {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          pad: 4px;
          width: 100%;
          border-bottom: 1px solid #219ed9;
          gap: 10px;
          h2 {
            font-size: 18px;
          }
        }
      }
    }
  }
}
