.footer {
  bottom: 0;
  max-width: 1200px;
  align-self: center;
  .footerTop {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background-color: #1d1d1d;

    .footerTopWrapper {
      display: flex;
      gap: 25px;
      padding: 50px 0px;

      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          color: #ffffff;
          border-top: 2px solid white;
          padding-top: 15px;
          h2 {
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
        .about {
          color: #999;
          .content {
            margin-top: 10px;
            p {
              font-weight: 600;
              text-align: left;
            }
          }
          .action {
            margin: 20px 0px;
            a {
              display: flex;
              align-items: center;
              gap: 5px;
              border-bottom: 1px solid #333;
              padding-bottom: 10px;
              transition: 0.5s;
              &:hover {
                color: #219ed9;
                cursor: pointer;
              }
            }
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
              display: flex;
              align-items: center;
              gap: 15px;
              transition: 0.5s;
              &:hover {
                color: #219ed9;
                cursor: pointer;
              }
              .icon {
                color: white;
              }
            }
          }
        }
        .links {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              padding-top: 7px;
              border-bottom: 1px solid #333;
              a {
                display: flex;
                align-items: center;
                color: #999;
                gap: 5px;
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                  color: #219ed9;
                }
              }
            }
          }
        }
      }
    }
  }
  .footerBottom {
    background-color: black;
    height: 80px;
    .footerBottomWrapper {
      padding: 27px 30px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        p {
          color: #999;
          font-size: 16px;
          a {
            color: #219ed9;
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .nav1,
        .nav2 {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          li {
            padding: 0px 10px;
            a {
              font-size: 16px;
              color: #999;
              transition: 0.5s;
              &:hover {
                color: #219ed9;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
